/* ***************************** */
/* Common CSS  */
/* ***************************** */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
}
body{
    color: #666; 
    font-family: Georgia, sans-serif; 
    font-size: 16px; 
    line-height: 1.5em; 
}
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%; 
}
img{
    width: 100%;
    height: auto;
}
/* ***************************** */
/* Top Header  */
/* ***************************** */
.header_area{
    width: 100%;
    clear: both;
}
#top_header_area{
    background: #ba2e1f;
    width: 100%;
    padding: 15px 0;
}
.inner_top_header{
    overflow: hidden;
}
.mini_menu{
    width: 70%;
    float: left;
}
.mini_menu ul{
    text-align: left;
}
.mini_menu ul li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.mini_menu ul li::after{
    content: ""; 
    position: absolute;
    width: 1px;
    height: 12px;
    background: #fff;
    top: 7px;
    right: -10px;
}
.mini_menu ul li:last-child::after{
    display: none;
}
.mini_menu ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
    transition: 0.3s;
}
.mini_menu ul li a:hover{
    color: #ddd;
}
.search_area{
    width: 30%;
    float: right;
}
.search_area form{
    width: 100%;
    max-width: 210px;
    float: right;
    background: #fff;
    border-radius: 25px;
}
.search_area form input{
    border: 0; 
    outline: 0;
    width: 75%;
    padding: 1%;
    float: left;
    color: #000;
}
.search_area form input[type="submit"]{
    width: 23%;
    background: url(/img/search_icon.png);
}